@import '~heading.less';

.card {
  min-width: 50vw !important;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;

  @media only screen and (max-width : @largestMobileScreen) {
    max-width: 90vw;
    min-width: 10vw;
  }
}

.footnote {
  margin-top: 1em;
  white-space: pre-wrap;
  word-wrap: normal;
}
