@import '~heading.less';

.card {
  min-width: 600px;

  @media only screen and (max-width : @largestMobileScreen) {
    max-width: 90vw;
    min-width: 10vw;
  }
}

.capitalize {
  text-transform: capitalize !important;
}
