@import '~heading.less';

.card {
  min-width: 50vw !important;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width : @largestMobileScreen) {
    max-width: 90vw;
    min-width: 10vw;
  }
}

.schedule_in_a_location {
  display: flex;

  @media only screen and (max-width : @largestMobileScreen) {
    flex-direction: column;
  }
}

.timetable {
  flex: 2
}

.location {
  flex: 1
}

.schedule {
  display: flex;
  margin-bottom: 1em;
}

.time {
  margin-right: 2em;
}

.preserve_lines {
  white-space: pre-wrap;
}

.title {
  text-transform: capitalize !important;
  font-weight: bold;
}

.event_description {
  max-width: 20vw;
  white-space: pre-wrap;
  padding-right: 1em;

  @media only screen and (max-width : @largestMobileScreen) {
    max-width: 65vw;
  }
}
