@import '~heading.less';

.card {
  min-width: 30vw;

  @media only screen and (max-width : @largestMobileScreen) {
    max-width: 90vw;
    min-width: 40vw;
  }
}

.iframe {
  min-height: 50vh;

  @media only screen and (max-width : @largestMobileScreen) {
    min-height: 100vh;
  }
}
