@import '~heading.less';

.card {
  min-width: 50vw !important;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;

  @media only screen and (max-width : @largestMobileScreen) {
    max-width: 90vw;
    min-width: 10vw;
  }
}

.card_header {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5em;
}

.name {
  flex: 3;
  text-transform: capitalize !important;
}

.relogin {
  flex: 1
}
