@import '~heading.less';

.card {
  min-width: 50vw !important;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width : @largestMobileScreen) {
    max-width: 90vw;
    min-width: 10vw;
  }
}

.options_container {
  display: flex;
  flex-wrap: wrap;
}

.options {
  flex: 1;
  margin-left: 0;
}

.list_item {
  margin-left: 0 !important;
  margin-right: 2em;
  text-transform: capitalize !important;
}
